# python
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
conifer-tools.sublime-project
conifer-tools.sublime-workspace
conifertools/__init__.pyc
conifertools/conifertools.pyc
conifertools/hcluster.pyc
conifertools/plotting.pyc
conifertools/rpkm.pyc
